<h3>{{model.title}}</h3>

<div class="row">
  {{#each lot in model.lots}}
    <!-- <li>{{lot.name}} <i class="fa fa-times" {{action 'delete' lot}}></i></li> -->

    <figure class="well">
      <img {{bind-attr src=lot.image}}>
      <figcaption>{{lot.name}}</figcaption>
    </figure>

  {{/each}}
</div>


{{outlet}}

{{#if notAddingLot}}
<p {{action 'hideButton'}}>{{#link-to 'new-lot' this class="btn btn-success"}}Add a new lot{{/link-to}}</p>
{{/if}}
