<h3>{{model.title}}</h3>

<ul>
  {{#each lot in model.lots}}
    <li>{{lot.name}} <i class="fa fa-times" {{action 'delete' lot}}></i></li>
    <!-- {{lot.image}} -->
  {{/each}}
</ul>

{{outlet}}

{{#if notAddingLot}}
<p {{action 'hideButton'}}>{{#link-to 'new-lot' this class="btn btn-success"}}Add a new lot{{/link-to}}</p>
{{/if}}
